<div class="cart-product"{% if product.line_price <= 0 %} style="display: none;"{% endif %} data-cart-item-id="{{ product.id }}" data-cart-item-related="{{ product.product.id }}">
    <a href="{{ product.url }}" class="cart-product__image-wrapper">
        <img src="{{ product.image | image_url }}" class="cart-product__image" width="auto" height="auto" loading="lazy">
    </a>
    <div class="cart-product__info">
        <div class="cart-product__title-container">
            <a href="{{ product.url }}" class="cart-product__title">
                {{ product.product.title }}
                {% if product.product.variants.size > 1 %}
                    -
                    <div class="cart-product__title-variant">{{ product.variant.title }}</div>
                {% endif %}
            </a>
            <div class="cart-product__price cart-product__price--mobile" data-product-cart-price>{{ product.line_price | money }}</div>
            <div class="cart-product__price cart-product__price--desktop">{{ product.price | money }}</div>
        </div>
        <div class="cart-product__btns-container">
            <div class="cart-product__remove" data-item-remove>
                Remove
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                    <path d="M1 1L8 8" stroke="#484646"/>
                    <path d="M8 1L1 8" stroke="#484646"/>
                </svg>
            </div>
            <div class="cart-product__price cart-product__price--desktop" data-product-cart-price>{{ product.line_price | money }}</div>
            <div class="cart-product__btns" data-product-buttons>
                <div class="cart-product__quantity-wrapper">
                    <button class="cart-product__minus-btn" data-item-quantity-dec>
                        - 
                    </button>
                    <div class="cart-product__quantity" data-item-quantity>{{ product.quantity }}</div>
                    <button class="cart-product__plus-btn" data-item-quantity-inc>
                        +
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
