<div class="main-collection__wrapper">
    <a href="{{ block.settings.collection_link }}" class="main-collection__link">
        {% if block.settings.collection.image != blank %}
            <img
                src="{{ block.settings.collection.image | image_url }}"
                alt="{{ block.settings.collection.alt }}"
                width="auto"
                height="auto"
                loading="lazy"
                class="main-collection__img"
            >
        {% else %}
            {{ 'image' | placeholder_svg_tag }}
        {% endif %}
    </a>
    <div class="main-collection__caption" style="background-color: {% if block.settings.caption_color %}{{ block.settings.caption_color }}{% else %}#D8B89D{% endif %}">
        <span class="main-collection__caption-text">{{ block.settings.caption }}</span>
        {% render 'collection-button', btn-url: block.settings.collection_link %}
    </div>
</div>
