{% unless template == 'cart' %}
    <link rel="stylesheet" href="{{ 'cart-popup.css' | asset_url }}">

    <aside class="cart-popup dn" data-cart-popup>
        <div class="cart-popup__close-btn" data-cart-popup-toggle-btn>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M1 1L13 13" stroke="#484646"/>
            <path d="M13 1L1 13" stroke="#484646"/>
            </svg>
        </div>
        <div class="cart-popup__wrapper">
            <div class="cart-popup__head">
                <h2 class="cart-popup__title">
                    <span class="cart-popup__title-inner">{{ section.settings.title }}</span>
                    - <span data-cart-quantity>{{ cart.item_count }}</span> items
                </h2>
                <div class="cart-popup__shipping-message">
                    {{ section.settings.text }} {{ settings.shipping_sum | money | replace: '.00', '' }}
                    <a href="{{ routes.all_products_collection_url  }}">{{ section.settings.go_shop_text }}</a>
                </div>
                <div data-shipping-limit-message class="cart-popup__shipping-info{% if settings.shipping_sum <= cart.total_price %} dn{% endif %}">
                    {{ section.settings.free_shipping_1 }}
                    <span data-shipping-limit="{{ settings.shipping_sum }}">{{ settings.shipping_sum | minus: cart.total_price | money }}</span>
                    {{ section.settings.free_shipping_2 }}
                </div>
                <div data-shipping-limit-success class="cart-popup__shipping-info{% if settings.shipping_sum > cart.total_price %} dn{% endif %}">
                    {{ section.settings.free_shipping_3 }}
                </div>
                <div class="shipping-bar">
                    <div class="shipping-bar__inner" data-shipping-limit-bar style="max-width: {{ cart.total_price | times: 100 | divided_by: settings.shipping_sum }}%;"></div>
                </div>
            </div>
            <div class="cart-popup__products-container">
                <div class="cart-popup__products{% if cart.item_count == 0 %} dn{% endif %}" data-cart-products id="anchor-scroll-top">
                    {% for product in cart.items %}
                        {% render 'cart-product', product: product %}
                    {% endfor %}
                </div>
                <div class="cart-popup__empty{% if cart.item_count > 0 %} dn{% endif %}" data-cart-empty>
                    {{ section.settings.empty_message }}
                </div>
                <div class="cart-popup__title-inner cart-popup__related-title dn" data-related-title>{{ section.settings.related_text }}</div>
                <div class="cart-popup__related-products dn" data-related-products>
                    
                </div>
            </div>
            <div class="cart-popup__main">
                <div class="cart-popup__total">
                    <div>{{ section.settings.total_text }}</div>
                    <div data-cart-total>{{ cart.total_price | money }}</div>
                </div>
                <p class="cart-popup__message">{{ section.settings.message_text }}</p>
                <a href="{{ routes.cart_url }}" class="cart-popup__checkout{% if cart.item_count == 0 %} dn{% endif %}" data-cart-empty-hide>
                    {{ section.settings.checkout_text }}
                </a>
                <button class="cart-popup__close-cart" data-cart-popup-toggle-btn>
                    {{ section.settings.close_text }}
                </button>
            </div>
        </div>
    </aside>

    <script type="module" src="{{ 'cart-popup.js' | asset_url }}"></script>
{% endunless %}

{% schema %}
    {
        "name": "Cart popup",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Your cart"
            },
            {
                "type": "text",
                "id": "empty_message",
                "label": "Empty text",
                "default": "Cart is empty"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Text message",
                "default": "Free gift with purchases from "
            },
            {
                "type": "text",
                "id": "go_shop_text",
                "label": "Shop now text",
                "default": "Shop now"
            },
            {
                "type": "text",
                "id": "delete_text",
                "label": "Delete button text",
                "default": "Remove"
            },
            {
                "type": "text",
                "id": "for_you_text",
                "label": "For you text",
                "default": "Specially for you"
            },
            {
                "type": "text",
                "id": "free_shipping_1",
                "label": "Free shipping text pt1",
                "default": "You're "
            },
            {
                "type": "text",
                "id": "free_shipping_2",
                "label": "Free shipping text pt2",
                "default": " away from free shipping!"
            },
            {
                "type": "text",
                "id": "free_shipping_3",
                "label": "Free shipping success text",
                "default": "<span>Congratulations!!!</span> You have free gift!"
            },
            {
                "type": "text",
                "id": "total_text",
                "label": "Total text",
                "default": "Subtotal"
            },
            {
                "type": "text",
                "id": "message_text",
                "label": "Message text",
                "default": "Taxes and shipping calculated at checkout"
            },
            {
                "type": "text",
                "id": "checkout_text",
                "label": "Checkout text",
                "default": "ORDER"
            },
            {
                "type": "text",
                "id": "close_text",
                "label": "Continue shopping text",
                "default": "Continue shopping"
            },
            {
                "type": "text",
                "id": "related_text",
                "label": "Related products text",
                "default": "Specially for you"
            }
        ],
        "presets": [
            {
                "name": "Cart popup"
            }
        ]
    }
{% endschema %}