{{ "cart-test.css" | asset_url | stylesheet_tag }}

<div class="cart_test__wrap">
    <h2 class="cart_test__title">My Cart TEST {{ cart.item_count }}</h2>

    {% if cart.empty? %}
        <p>Your cart is empty</p>
    {% else %}
    
        {% comment %} {% form 'cart', cart, class: "cart_test__form"%} 

            
        {% endform %} {% endcomment %}

        <div class="cart_test__form">
            {% for item in cart.items %}
                <div class="cart_test__item js-cart-item" data-line-item-key="{{ item.key }}">
                    <img class="cart_test__img" src="{{item.image |  image_url: width: '200px' }}" alt="{{ item.title }}">  

                    <div class="cart_test__content">
                        <h3 class="cart_test__item_title">{{ item.product.title }}</h3>
                        <p class="cart_test__variant">{{ item.variant.title }}</p>
                        <p class="cart_test__price" >{{ item.price | money }}</p>                       

                        <div class="product__quantity js-quantity">
                            <button class="js-quantity-btn product__quantity_btn js-quantity-decrease" type="button" aria-label="decrease quantity">
                                    <span>
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.5 8L0.5 8" stroke="currentColor" stroke-linecap="round"/>
                                        </svg>
                                    </span>
                            </button>
                            <input class="product__quantity_input js-quantity-input" type="number" name="quantity" value="{{ item.quantity }}" min="1">
                            <div class="product__quantity_value js-quantity-value">{{ item.quantity }}</div>
                            <button class="js-quantity-btn product__quantity_btn js-quantity-increase" type="button" aria-label="increase quantity">
                                    <span>
                                        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 0.5L8 15.5M15.5 8L0.5 8" stroke="currentColor" stroke-linecap="round"/>
                                        </svg>
                                    </span>
                            </button>
                        </div>

                        <a class="cart_test__remove" href="{{ item.url_to_remove }}">
                            {% render 'icon-remove' %} 
                        </a>
                    </div> 

                </div>
            {% endfor %}

            <div class="cart_test__bottom">
                <div class="cart_test__bottom_price_discount">{{ cart.total_discount | money }}</div>
                <div class="cart_test__bottom_price">{{ cart.total_price | money }}</div>
            </div>

            <div class="cart_test__btn_wrap">
                <button class="cart_test__submit" type="submit" name="checkout">Checkout</button>
            </div>
        </div>

    {% endif %}
    
</div>

<script src="{{ 'cart-test.js' | asset_url }}" type="module" defer></script>

{% schema %}
    {
        "tag": "section",
        "class": "cart_test",
        "name": "Cart drawer test",
        "settings": [
            
            ]
    }
{% endschema %}