{% if product.metafields.custom.how_to_use_.value != blank %}
    {{ 'section-how-to-use.css' | asset_url | stylesheet_tag }}

    <div class="steps">
        <div class="steps__wrapper base-section-limit">
            <div class="steps__title h1">{{ section.settings.title }}</div>
                <div class="steps__block-wrapper">
                    {% assign items = product.metafields.custom.how_to_use_.value %}
                    {% for item in items %}
                        <div class="steps__block">
                            <img class="steps__block-image" src="{{ item.image | image_url }}" width="auto" height="auto" alt="{{ item.title }}">
                            <div class="steps__block-title">{{ item.title }}</div>
                            <p class="steps__block-subtitle">{{ item.subtitle}}</p>
                        </div>
                    {% endfor %}
                </div>
        </div> 
    </div>
{% endif %}

{% schema %}
{
    "name": "How to use",
    "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
    "presets": [
        {
            "name": "How to use",
            "settings": {

            }
        }
    ]    
}
{% endschema %}