{{ 'section-product-related.css' | asset_url | stylesheet_tag }}

{% assign id = product.id %}
{% if template.name == 'cart' %}
    {% assign id = cart.items[0].product.id %}
{% endif %}

<div class="related" id="section-related">
    <div class="related__wrapper base-section-limit">
        <div class="related__top">
            <h2 class="related__title h1">{{ section.settings.title }}</h2>
            {% assign button_text = section.settings.btn-text %}
            {% assign button_url =  section.settings.btn-url %}
            <div class="related__top-btn">
                {% render 'main-button' text: button_text, btn-url: button_url %}
            </div>
            
        </div>

        {% render 'loader' %}

        <div class="swiper-container related__swiper dn" id="relate-swiper">
            <div class="related__products swiper-wrapper" data-product-related="{{ id }}"></div>
        </div>

        <div class="swiper-pagination" data-pagination="{{ section.id }}" data-swiper-bestseller-pagination></div>
        

        <div class="related__mobile-btn">
            {% render 'main-button' text: button_text, btn-url: button_url %}
        </div>
    </div>
</div>


<script type="module" defer src="{{ 'section-product-related.js' | asset_url }}"></script>

{% schema %}
{
    "name": "Related products",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "btn-text",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "btn-url",
            "label": "Button url"
        }

    ],
    "presets": [
        {
            "name": "Related products",
            "settings": {}
        }
    ]    
}
{% endschema %}