{{ 'section-bestsellers.css' | asset_url | stylesheet_tag }}

{% assign use_slider =  section.settings.use_slider %}
{% assign title_position =  section.settings.title_position %}

<div class="bestsellers__wrapper{% if use_slider == "no"%} container{% endif %}{% if title_position == "on_top"%} on-top{% endif %}">
	{% comment %}Mobile{% endcomment %}
	<div class="bestsellers__info mobile">
		<h2 class="bestsellers__title h1">{{ section.settings.title }}</h2>
		<p class="bestsellers__description">{{ section.settings.description }}</p>
	</div>
    {% if title_position == "on_top"%}
        <a href="{{ section.settings.url }}" class="bestsellers__link">
            <span class="bestsellers__link-caption">{{ section.settings.button }}</span>
            <span class="bestsellers__link-arrow">{% render 'general-icons' icon: 'button-arrow' %}</span>
        </a>
    {% else %}
        <div class="bestsellers__button mobile">
            {% render 'animated-button', text: section.settings.button, btn-url: section.settings.url %}
        </div>
    {% endif %}
      {% comment %}Desctop{% endcomment %}
        <div class="bestsellers__information{% if use_slider == "no"%} sticky{% endif %}">
            <div class="bestsellers__block">
                <div class="bestsellers__info">
                    <h2 class="bestsellers__title h1">{{ section.settings.title }}</h2>
                    <p class="bestsellers__description">{{ section.settings.description }}</p>
                </div>
                {% if title_position == "on_top"%}
                    <a href="{{ section.settings.url }}" class="bestsellers__link">
                      <span class="bestsellers__link-caption">{{ section.settings.button }}</span>
                      <span class="bestsellers__link-arrow">{% render 'general-icons' icon: 'button-arrow' %}</span>
                    </a>
                {% else %}
                    <div class="bestsellers__button">
                        {% render 'animated-button', text: section.settings.button, btn-url: section.settings.url %}
                    </div>
                {% endif %}
            </div>
        </div>

  {% assign choice =  section.settings.products_display %}
  {% assign products_list =  section.settings.products_list %}
  {% assign handle =  section.settings.collection %}

  <div class="bestsellers__products{% if use_slider == "no"%} grid{% endif %} swiper-container"
       data-id="{{ section.id }}"
       data-swiper-init="{% if use_slider == "yes"%}1{% else %}0{% endif %}"
       data-swiper-bestseller-products>
    <div class="bestsellers__items swiper-wrapper">
      {% if choice == 'product_list' and products_list != blank %}
        {% for product in products_list %}
          <div class="bestsellers__product swiper-slide">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      {% else %}
        {% for product in collections[handle].products limit: 6 %}
          <div class="bestsellers__product swiper-slide">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="swiper-pagination{% if title_position == "on_top"%} full-with{% endif %}" data-pagination="{{ section.id }}" data-swiper-bestseller-pagination></div>
  </div>
</div>

<script type="module" src="{{ 'section-bestsellers.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Section bestsellers",
  "tag": "section",
  "class": "bestsellers",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "You can Start with our bestsellers"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Our goal has always been to create the highest quality skin, hair and body care products that can help you feel and be beautiful."
    },
    {
      "type": "product_list",
      "id": "products_list",
      "label": "Products",
      "limit": 10
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "radio",
      "id": "products_display",
      "label": "Display products",
      "options": [
        {
          "value": "product_list",
          "label": "Display products from products list"
        },
        {
          "value": "collection",
          "label": "Display products from collection"
        }
      ],
      "default": "product_list"
    },
    {
      "type": "radio",
      "id": "use_slider",
      "label": "Use slider",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    },
    {
      "type": "radio",
      "id": "title_position",
      "label": "Title position",
      "options": [
        {
          "value": "on_top",
          "label": "Title on top"
        },
        {
          "value": "On_column",
          "label": "Title on column"
        }
      ],
      "default": "On_column"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Caption for button",
      "default": "See  products"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button url"
    }
  ],
  "presets": [
    {
      "name": "Section bestsellers",
      "settings": {}
    }
  ]
}
{% endschema %}