{% if product.metafields.custom.about_vendor.value != blank %}
    {{ 'section-vendor.css' | asset_url | stylesheet_tag }}

    <div class="vendor">
        <div class="vendor__wrapper base-section-limit">
            {% assign item = product.metafields.custom.about_vendor.value %}
            {% for element in item %}
                <div class="vendor__info">
                    <div class="vendor__info-wrapper">
                        <img class="vendor__logo" src="{{ element.vendor_logo | image_url }}" width="auto" height="auto" alt="{{ item.vendor_title }}">
                        <div class="vendor__title h1">{{ element.vendor_title }}</div>
                        <div class="vendor__description">{{ element.vendor_description }}</div>
                    </div>
                </div>
        
                <img class="vendor__image" src="{{ element.main_image | image_url }}" width="auto" height="auto" alt="image">
            {% endfor %}
        </div>
    </div>
{% endif %}



{% schema %}
{
    "name": "Vendor",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "Vendor",
            "settings": {

            }
        }
    ]        
}
{% endschema %}