<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}">

<div class="collection__inner">
    <div class="filter-bar">
        <button class="filter-bar__button" data-collection-toggle-filter>
            {{ section.settings.filter_text }}
        </button>
        <div class="filter-bar__button--sort">
            <button class="filter-bar__button" data-open-sort-menu>
                {{ section.settings.sort_text }}
            </button>
            <div class="filter-bar__sort-menu" data-sort-menu>
                {% comment %} <input class="filter-bar__sort-input" type="radio" id="sort_by_manual" name="sort_by" value="manual"> {% endcomment %}
                <input class="filter-bar__sort-input" type="radio" checked id="sort-best-selling" name="sort_by" value="best-selling" data-sort-key="BEST_SELLING">
                <label class="filter-bar__sort-item" for="sort-best-selling">{{ section.settings.sort_most_popular }}</label>
                <input class="filter-bar__sort-input" type="radio" id="sort-price-ascending" name="sort_by" value="price-ascending" data-sort-key="PRICE">
                <label class="filter-bar__sort-item" for="sort-price-ascending">{{ section.settings.sort_price_asc }}</label>
                <input class="filter-bar__sort-input" type="radio" id="sort-price-descending" name="sort_by" value="price-descending" data-sort-key="PRICE" data-sort-order-descending>
                <label class="filter-bar__sort-item" for="sort-price-descending">{{ section.settings.sort_price_desc }}</label>
                <input class="filter-bar__sort-input" type="radio" id="sort-created-descending" name="sort_by" value="created-descending" data-sort-key="CREATED" data-sort-order-descending>
                <label class="filter-bar__sort-item" for="sort-created-descending">{{ section.settings.sort_newest }}</label>
                <input class="filter-bar__sort-input" type="radio" id="sort-created-ascending" name="sort_by" value="created-ascending" data-sort-key="CREATED">
                <label class="filter-bar__sort-item" for="sort-created-ascending">{{ section.settings.sort_oldest }}</label>
                {% comment %} <input class="filter-bar__sort-input" type="radio" name="sort_by" value="title-ascending">
                <input class="filter-bar__sort-input" type="radio" name="sort_by" value="title-descending"> {% endcomment %}
            </div>
            <div class="filter-bar__sort-dropdown" data-sort-dropdown></div>
        </div>
        <span class="filter-bar__delimiter">|</span>
        <div class="filter-bar__grid-buttons">
            <button class="filter-bar__grid-button" data-collection-products-grid>{% render 'icons-collection', icon: 'grid-4' %}</button>
            <button class="filter-bar__grid-button filter-bar__grid-button--selected" data-collection-products-grid>{% render 'icons-collection', icon: 'grid-9' %}</button>
        </div>
    </div>
    <div class="collection__container">
        <div class="filters" data-collection-filters="{{ collection.handle }}">
            <h3 class="filters__mobile-title">{{ section.settings.filter_text }}</h3>
            <button data-collection-toggle-filter class="filters__close">{% render 'icons-collection' icon: 'cross' %}</button>
            <div data-remove-filters-container>
                <div class="filters__selected-container">
                    {% for filter in collection.filters %}
                        {% for filter_value in filter.values %}
                            {% if filter_value.active %}
                                <button
                                    data-remove-filter-name="{{ filter_value.param_name }}"
                                    data-remove-filter-value="{{ filter_value.value }}"
                                    class="filters__selected-value"    
                                >{{ filter_value.value }}</button>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="filters__container">
                {% for filter in collection.filters %}
                    <input class="filter__open-input"{% if filter.label == 'Price' %} data-open-price-filter{% endif %} id="{{ filter.label }}--{{ forloop.index }}" type="checkbox" name="{{ filter.label }}">
                    <div class="filter" {% if filter.values.size >= 12 %}data-filter-with-search{% endif %}>
                        <label for="{{ filter.label }}--{{ forloop.index }}" class="filter__title">{{ filter.label | capitalize }}</label>
                        {% if filter.values.size >= 12 %}
                            <input class="filter__search-input" type="text" placeholder="{{ section.settings.search_placeholder }}" name="filter-search-by-name">
                        {% endif %}
                        <div class="filter__body" data-filter-group>
                            {% case filter.label %}
                                {% when 'Price' %}
                                    <div class="filter__prices">
                                        <div class="filter__prices-from">
                                            € 
                                            <input
                                                class="filter__money"
                                                data-filter-input
                                                data-collection-filter-item-range-from 
                                                name="{{ filter.min_value.param_name }}" 
                                                id="Filter-{{ filter.min_value.param_name }}" 
                                                type="text"
                                                value="{{ filter.min_value.value | money_without_currency | replace: '.', '' }}"
                                            >
                                        </div>
                                        <div class="filter__prices-to">
                                            € 
                                            <span class="filter__price-span-input" data-collection-filter-item-range-to-visual>
                                                {{ filter.max_value.value | money_without_currency | replace: '.', '' }}
                                            </span>
                                            <input
                                                class="filter__money"
                                                data-filter-input
                                                data-collection-filter-item-range-to 
                                                name="{{ filter.max_value.param_name }}"
                                                id="Filter-{{ filter.max_value.param_name }}"
                                                type="text"
                                                value="{{ filter.max_value.value | money_without_currency | replace: '.', '' }}"
                                            >
                                        </div>
                                    </div>
                                    <div class="filter__range" data-collection-filter-item-range data-range-min="0" data-range-max="{{ filter.range_max | divided_by: 100.00 | ceil | times: 100 }}"></div>
                                {% else %}
                                    {% for filter_value in filter.values %}
                                        <label class="filter__item{% if filter_value.count == 0 %} filter__item--disabled{% endif %}" data-search-filter-name="{{ filter_value.value }}">
                                            <input class="filter__value-checkbox" {% if filter_value.count == 0 %}disabled{% endif %} data-filter-input data-filter-input-action type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}" {% if filter_value.active %}checked{% endif %}>
                                            <div class="filter__checkbox">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                    <path d="M3 7.33333L7.8 12L15 5" stroke="white"/>
                                                </svg>
                                            </div>
                                            <span class="filter__input-text">
                                                {{ filter_value.value }}
                                                (<span data-corresponding-product-count>{{ filter_value.count }}</span>)
                                            </span>
                                        </label>
                                    {% endfor %}
                            {% endcase %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="filters__delete-all dn" data-delete-all-filters>{{ section.settings.delete_filters }}</button>
        </div>
        <div class="collection__products-container">
            <div class="collection__products collection__products--small-cards" data-collection-products>
                {% for product in collection.products %}
                    {% render 'product-card' product: product %}
                {% endfor %}
            </div>
            {% render 'loader' %}
            <div class="collection__pagination" data-pagination-container>

            </div>
        </div>
    </div>
</div>

<script type="module" defer src="{{ 'template-collection.js' | asset_url }}"></script>

{% schema %}
    {
        "name": "Collection",
        "tag": "section",
        "class": "collection base-section-limit",
        "settings": [
            {
                "type": "text",
                "id": "filter_text",
                "label": "Filter text",
                "default": "Filter"
            },
            {
                "type": "text",
                "id": "sort_text",
                "label": "Sort by text",
                "default": "Sort by:"
            },
            {
                "type": "text",
                "id": "sort_most_popular",
                "label": "Sort most popular text",
                "default": "Most populair"
            },
            {
                "type": "text",
                "id": "sort_price_asc",
                "label": "Sort lowest price text",
                "default": "Price, low to high"
            },
            {
                "type": "text",
                "id": "sort_price_desc",
                "label": "Sort highest price text",
                "default": "Price, high to low"
            },
            {
                "type": "text",
                "id": "sort_newest",
                "label": "Sort newest text",
                "default": "Newest first"
            },
            {
                "type": "text",
                "id": "sort_oldest",
                "label": "Sort oldest text",
                "default": "Oldest first"
            },
            {
                "type": "text",
                "id": "delete_filters",
                "label": "Delete all filters text",
                "default": "Delete all filters"
            },
            {
                "type": "text",
                "id": "search_placeholder",
                "label": "Search filters placeholder",
                "default": "Enter filter name"
            }
        ]
    }
{% endschema %}