<link rel="stylesheet" href="{{ 'template-about-hero.css' | asset_url }}">

<style>
    {% if section.settings.image_mobile != blank %}
        @media screen and (max-width: 991px) {
            #shopify-section-{{ section.id }} .template-about__wrapper {
                background-image: url("{{ section.settings.image_mobile | img_url: '450x450', crop: 'center' }}");
            }
        }
    {% endif %}

    {% if section.settings.image_desktop != blank %}
        @media screen and (min-width: 992px) {
            #shopify-section-{{ section.id }} .template-about__wrapper {
                background-image: url("{{ section.settings.image_desktop | img_url: 'master' }}");
            }
        }
    {% endif %}
</style>

<div class="template-about__wrapper">
    <div class="template-about__inner">
        <h1 class="template-about__title hero-title">{{ section.settings.title }}</h1>
        <p class="template-about__description">{{ section.settings.description }}</p>
    </div>
    <div class="template-about__button">
        {% render 'animated-button', text: section.settings.button, btn-url: section.settings.url %}
    </div>
</div>

{% schema %}
{
  "name": "Template about hero",
  "class": "template-about",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Beauty without borders"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Our Philosophy"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Background image for mobile"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Background image for desktop"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Caption for button",
      "default": "Find your perfect care"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button url"
    }
  ]
}
{% endschema %}