<link rel="stylesheet" href="{{ 'template-customer-account.css' | asset_url }}">

<div class="template-account__wrapper contact-form__wrapper base-section-limit">
    <div class="template-account__header">
        <h1 class="template-account__title h1">{{ section.settings.account_title }}</h1>
        <a class="template-account__logout" href="/account/logout" id="customer_logout_link">{{ section.settings.logout_button }}</a>
    </div>
	<div class="template-account__content">
		<div class="contact-form__navigation template-account__navigation">
			<nav class="contact-navigation">
				<a href="{{ routes.account_url }}" class="contact-navigation__link{% if request.path == routes.account_url %} active{% endif %}">
            <span class="contact-navigation__title title">
                <span>{{ section.settings.orders }}</span>
            </span>
				</a>
				<a href="{{ routes.account_addresses_url }}" class="contact-navigation__link{% if request.path == routes.account_addresses_url %} active{% endif %}">
            <span class="contact-navigation__title title">
                <span>{{ section.settings.addresses }}</span>
            </span>
				</a>
			</nav>
		</div>
		<div class="contact-form__form">
			{% assign orders_lenght = customer.orders | size %}
			<div class="template-account__orders{% if orders_lenght == 0 %} null{% endif %}">
				<h3 class="template-account__orders-title">{{ section.settings.order_title }}</h3>
				{% if orders_lenght > 0 %}
					{% paginate customer.orders by 10 %}
						{% for order in customer.orders %}
							<div class="template-account__table{% if forloop.index != 1 %} hide{% endif %}">
								<div class="template-account__table-row">
									<div class="template-account__table-caption">{{ section.settings.order }}</div>
									<div class="template-account__table-data">{{ order.name | link_to: order.customer_url }}</div>
								</div>
								<div class="template-account__table-row">
									<div class="template-account__table-caption">{{ section.settings.date }}</div>
									<div class="template-account__table-data">{{ order.created_at | date: "%d %b %Y" }}</div>
								</div>
								<div class="template-account__table-row">
									<div class="template-account__table-caption">{{ section.settings.payment }}</div>
									<div class="template-account__table-data">{{ order.financial_status_label }}</div>
								</div>
								<div class="template-account__table-row">
									<div class="template-account__table-caption">{{ section.settings.status }}</div>
									<div class="template-account__table-data">{{ order.fulfillment_status  }}</div>
								</div>
								<div class="template-account__table-row">
									<div class="template-account__table-caption">{{ section.settings.total }}</div>
									<div class="template-account__table-data">{{ order.line_items_subtotal_price | money }}</div>
								</div>
							</div>
						{% endfor %}
					{% endpaginate %}
				{% else %}
					<p class="template-account__empty">{{ section.settings.empty_order }}</p>
				{% endif %}
			</div>
		</div>
		<div class="contact-form__gallery">
			{% for block in section.blocks %}
				{% if block.type == "gallery" and block.settings.image != blank %}
					{% if forloop.index == 1 %}
						<div class="contact-form__gallery-main">
							<img src="{{ block.settings.image | image_url }}"
							     alt="Gallery image"
							     width="auto"
							     height="auto"
							     class="contact-form__gallery-img"
							     loading="eager"
							>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
			<div class="contact-form__gallery-second">
				{% for block in section.blocks %}
					{% if block.type == "gallery" and block.settings.image != blank %}
						{% if forloop.index != 1 %}
							<div class="contact-form__gallery-wrapper ">
								<img src="{{ block.settings.image | image_url }}"
								     alt="Gallery image"
								     width="auto"
								     height="auto"
								     class="contact-form__gallery-img"
								     loading="eager"
								>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% schema %}
{
  "name": "Account",
  "class": "template-account contact-form",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "account_title",
      "label": "Title",
      "default": "Account"
    },
    {
      "type": "text",
      "id": "logout_button",
      "label": "Logout button",
      "default": "Log out"
    },
    {
      "type": "text",
      "id": "orders",
      "label": "Orders link",
      "default": "My orders"
    },
    {
      "type": "text",
      "id": "addresses",
      "label": "Personal information link",
      "default": "My information"
    },
    {
      "type": "header",
      "content": "Orders"
    },
    {
      "type": "text",
      "id": "order_title",
      "label": "Order information title",
      "default": "History"
    },
    {
      "type": "text",
      "id": "order",
      "label": "Order",
      "default": "Order"
    },
    {
      "type": "text",
      "id": "date",
      "label": "Data title",
      "default": "Date"
    },
    {
      "type": "text",
      "id": "payment",
      "label": "Payment title",
      "default": "Payment"
    },
    {
      "type": "text",
      "id": "status",
      "label": "Status title",
      "default": "Status"
    },
    {
      "type": "text",
      "id": "total",
      "label": "Total title",
      "default": "Total"
    },
    {
      "type": "text",
      "id": "empty_order",
      "label": "Text for empty order account",
      "default": "Sorry but there is no order yet"
    }
  ],
  "blocks": [
    {
      "type": "gallery",
      "name": "Gallery",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Gallery image"
        }
      ]
    }
  ]
}
{% endschema %}
