<link rel="stylesheet" href="{{ 'template-404.css' | asset_url }}">

<div class="template-404__wrapper base-section-limit">
	<p class="template-404__index">{{ section.settings.index }}</p>
	<h1 class="template-404__title hero-title">{{ section.settings.title }}</h1>
	<p class="template-404__description">{{ section.settings.description }}</p>
	<a href="{{ routes.root_url }}" class="template-404__button">
		<span class="template-404__caption">{{ section.settings.button }}</span>
		<span class="template-404__arrow">{% render 'general-icons' icon: 'button-arrow' %}</span>
	</a>
</div>

{% schema %}
{
  "name": "404 section",
  "tag": "section",
  "class": "template-404",
  "settings": [
    {
      "type": "text",
      "id": "index",
      "label": "Page name",
      "default": "404"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "This page does not exist"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Please try searching or continue shopping."
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button name",
      "default": "Go to shop"
    }
  ]
}
{% endschema %}