<link rel="stylesheet" href="{{ 'cart-popup.css' | asset_url }}">
<link rel="stylesheet" href="{{ 'template-cart.css' | asset_url }}">

{% render 'breadcrumbs' %}
<section class="cart-popup cart" data-cart-popup="page">
    <div class="base-section-limit">
        <div class="cart-popup__head">
            <h2 class="h1">{{ section.settings.title }}</h2>
        </div>
        <div class="cart-popup__wrapper">
            <div class="cart-popup__products-container">
                <div class="cart__categories">
                    <p>{{ section.settings.category_product }}</p>
                    <p>{{ section.settings.category_price }}</p>
                    <p>{{ section.settings.category_quantity }}</p>
                    <p>{{ section.settings.category_total }}</p>
                </div>
                <div class="cart-popup__products{% if cart.item_count == 0 %} dn{% endif %}" data-cart-products>
                    {% for product in cart.items %}
                        {% render 'cart-product', product: product %}
                    {% endfor %}
                </div>
                <div class="cart-popup__empty{% if cart.item_count > 0 %} dn{% endif %}" data-cart-empty>
                    {{ section.settings.empty_message }}
                </div>
                <button data-gift-button data-toggle-gift-popup class="gift-block"{% if cart.total_price < settings.shipping_sum %} disabled{% endif %}>
                    <div>
                        <h3 class="gift-block__title">{{ section.settings.gift_title }}</h3>
                        <p class="gift-block__text">{{ section.settings.gift_text }} {{ settings.shipping_sum | money | replace: '.00', '' }}</p>
                    </div>
                    <svg class="gift-block__button" width="51" height="40" viewBox="0 0 51 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="11.5" y="0.5" width="39" height="39" rx="19.5" stroke="#484646"/>
                        <path d="M0 14.5H26.9643M26.9643 14.5L21.5098 9M26.9643 14.5L21.5098 20" stroke="#484646" stroke-width="2"/>
                    </svg>
                </button>
                <div class="cart-popup__products" data-toggle-gift-popup data-cart-gifts-container>
                </div>
            </div>
            <div class="cart-popup__main">
                <h3 class="cart-popup__main-title">{{ section.settings.order_summary_text }}</h3>
                <div class="cart-popup__shipping-message">
                    {{ section.settings.text }} {{ settings.shipping_sum | money | replace: '.00', '' }}
                    <a href="{{ routes.all_products_collection_url  }}">{{ section.settings.go_shop_text }}</a>
                </div>
                <div data-shipping-limit-message class="cart-popup__shipping-info{% if settings.shipping_sum <= cart.total_price %} dn{% endif %}">
                    {{ section.settings.free_shipping_1 }}
                    <span data-shipping-limit="{{ settings.shipping_sum }}">{{ settings.shipping_sum | minus: cart.total_price | money }}</span>
                    {{ section.settings.free_shipping_2 }}
                </div>
                <div data-shipping-limit-success class="cart-popup__shipping-info{% if settings.shipping_sum > cart.total_price %} dn{% endif %}">
                    {{ section.settings.free_shipping_3 }}
                </div>
                <div class="shipping-bar">
                    <div class="shipping-bar__inner" data-shipping-limit-bar style="max-width: {{ cart.total_price | times: 100 | divided_by: settings.shipping_sum }}%;"></div>
                </div>
                <div class="cart-popup__total">
                    <div>
                        {{ section.settings.total_text }}
                        (<span data-cart-quantity>{{ cart.item_count }}</span>)    
                    </div>
                    <div class="cart-popup__total-price" data-cart-total>{{ cart.total_price | money }}</div>
                </div>
                <label class="cart-popup__label" for="cart-note-input">
                    <input class="cart-popup__input" type="checkbox" id="cart-note-input" name="cart-note-input" value="{{ section.settings.cart_note }}">
                    <div class="cart-popup__checkbox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path d="M3 7.33333L7.8 12L15 5" stroke="white"/>
                        </svg>
                    </div>
                    {{ section.settings.cart_note }}
                </label>
                <div class="cart-popup__main-inner">
                    <p class="cart-popup__message">{{ section.settings.message_text }}</p>
                    <a href="/checkout" class="cart-popup__checkout{% if cart.item_count == 0 %} dn{% endif %}" data-checkout-button data-cart-empty-hide>
                        {{ section.settings.checkout_text }}
                    </a>
                    <a href="{{ section.settings.url }}" class="cart-popup__close-cart">
                        {{ section.settings.close_text }}
                    </a>
                </div>
                <ul class="cart-popup__payments">
                    {% for block in section.blocks %}
                        {% if block.type == 'payment' %}
                            <li class="cart-popup__payments-item">
                                {{ block.settings.icon }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<aside class="gift-popup dn" data-gift-popup>
    <div class="gift-popup__head">
        <h3 class="gift-block__title">{{ section.settings.gift_title }}<div class="gift-block__title--inner"> - <span>0</span>/2 items</div></h3>
        <p class="gift-block__text">{{ section.settings.gift_text }}{{ settings.shipping_sum | money }}</p>
    </div>
    <div class="gift-popup__products">
        {% for item in section.settings.gifts.products %}
            <div
                class="gift-popup__product"
                data-gift-product="{{ item.selected_or_first_available_variant.id }}"
                data-gift-product-image="{{ item.featured_image |  image_url }}"
                data-gift-product-title="{{ item.title }}"
            >
                <div class="gift-popup__image-container">
                    <img
                        src="{{ item.featured_image | image_url }}"
                        alt="{{ item.title }}"
                        loading="lazy"
                        width="{{ item.featured_image.width }}"
                        height="{{ item.featured_image.height }}"
                    />
                </div>
                <h3 class="gift-popup__title">{{ item.title }}</h3>
            </div>
        {% endfor %}
    </div>
    <div class="gift-popup__button-container">
        <button class="gift-popup__button" data-add-gift-products data-toggle-gift-popup>
            <span data-close-popup-text>{{ section.settings.gift_button_1 }}</span>
            <span data-add-gift-text class="dn">{{ section.settings.gift_button_2 }}</span>
        </button>
    </div>
    <button class="gift-popup__close" data-toggle-gift-popup>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M1 1L13 13" stroke="#484646"/>
            <path d="M13 1L1 13" stroke="#484646"/>
        </svg>
    </button>
</aside>

<script type="module" src="{{ 'cart-popup.js' | asset_url }}"></script>

{% schema %}
{
    "name": "Cart",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Your cart"
        },
        {
            "type": "collection",
            "id": "gifts",
            "label": "Gifts collection"
        },
        {
            "type": "text",
            "id": "empty_message",
            "label": "Empty text",
            "default": "Cart is empty"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text message",
            "default": "Free gift with purchases from"
        },
        {
            "type": "text",
            "id": "go_shop_text",
            "label": "Shop now text",
            "default": "Shop now"
        },
        {
            "type": "text",
            "id": "delete_text",
            "label": "Delete button text",
            "default": "Remove"
        },
        {
            "type": "text",
            "id": "for_you_text",
            "label": "For you text",
            "default": "Specially for you"
        },
        {
            "type": "text",
            "id": "order_summary_text",
            "label": "Order Summary text",
            "default": "Order Summary "
        },
        {
            "type": "text",
            "id": "total_text",
            "label": "Total text",
            "default": "Subtotal"
        },
        {
            "type": "text",
            "id": "message_text",
            "label": "Message text",
            "default": "Taxes and shipping calculated at checkout"
        },
        {
            "type": "text",
            "id": "checkout_text",
            "label": "Checkout text",
            "default": "Proceed to checkout"
        },
        {
            "type": "text",
            "id": "close_text",
            "label": "Continue shopping text",
            "default": "Continue shopping"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Continue shopping url"
        },
        {
            "type": "text",
            "id": "free_shipping_1",
            "label": "Free shipping text pt1",
            "default": "You're "
        },
        {
            "type": "text",
            "id": "free_shipping_2",
            "label": "Free shipping text pt2",
            "default": " away from free shipping!"
        },
        {
            "type": "text",
            "id": "free_shipping_3",
            "label": "Free shipping success text",
            "default": "<span>Congratulations!!!</span> You have free gift!"
        },
        {
            "type": "text",
            "id": "category_product",
            "label": "category name product",
            "default": "Product"
        },
        {
            "type": "text",
            "id": "category_price",
            "label": "category name price",
            "default": "Price"
        },
        {
            "type": "text",
            "id": "category_quantity",
            "label": "category name quantity",
            "default": "Quantity"
        },
        {
            "type": "text",
            "id": "category_total",
            "label": "category name total",
            "default": "Total"
        },
        {
            "type": "text",
            "id": "cart_note",
            "label": "cart note",
            "default": "Wrap as a gift"
        },
        {
            "type": "text",
            "id": "gift_title",
            "label": "Gift block title",
            "default": "CHOOSE YOUR GIFTS"
        },
        {
            "type": "text",
            "id": "gift_text",
            "label": "Gift block text",
            "default": "Available with purchases from "
        },
        {
            "type": "text",
            "id": "gift_button_1",
            "label": "Gift button continue without adding text",
            "default": "Proceeding without gifts"
        },
        {
            "type": "text",
            "id": "gift_button_2",
            "label": "Gift button add text",
            "default": "Add to cart"
        }
    ],
    "blocks": [
        {
            "name": "Payment",
            "type": "payment",
            "settings": [
                {
                    "type": "textarea",
                    "id": "icon",
                    "label": "Icon",
                    "info": "Put an svg icon code here"
                }
            ]
        }
    ]
}
{% endschema %}